a,
.descriptions {
    font-family: 'Heebo,sans-serif','BlinkMacSystemFont','Segoe UI','Roboto','Helvetica Neue','Helvetica,sans-serif';
}


.headline {
    font-family: 'Montserrat';
}

img {
    width: 190px;
    height: auto;
}

.article-body {
    margin-top: 200px;
}

.main-nav > ul {
    list-style: none;
    display: flex;
    font-size: 18px;
}

.main-nav {
    position: fixed;
    /* z-index: 10; */
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black; 
    display: flex;
}

.main-nav > ul{
width: 100%;
padding-top: 30px;
padding-bottom: 15px;
}

.main-nav ul > li {
    margin-right: 65px;
}

.communication-headline {
    display: inline;
}

.facebook-blue {
    background-color: #3b5998;
}

.linkedin-blue {
    background-color: #55acee;
}

.github-red {
    background-color: #aa2529;
}

.email-gold {
    background-color: #cfbc58;
}

.social-links > ul {
    display: flex;
    list-style: none;
    width: 70%;
}

.social_btn > li {
    display: block;
    border: none;
    height: auto;
    line-height: 40px;
    /* text-align: center; */
    padding: 5px;
    font-size: 1.5em;
}

.col-3 {
    width: 25%;
}


i {
    color: #fff;
    padding-left: 45%;
}
