a,
.descriptions {
    font-family: 'Heebo,sans-serif','BlinkMacSystemFont','Segoe UI','Roboto','Helvetica Neue','Helvetica,sans-serif';
}


.headline {
    font-family: 'Montserrat';
}

img {
    width: 190px;
    height: auto;
}

.article-body {
    margin-top: 200px;
}

.main-nav > ul {
    list-style: none;
    display: flex;
    font-size: 18px;
}

.main-nav {
    position: fixed;
    /* z-index: 10; */
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black; 
    display: flex;
}

.main-nav > ul{
width: 100%;
padding-top: 30px;
padding-bottom: 15px;
}

ul > li {
    margin-right: 65px;
}

.communication-headline {
    display: inline;
}




